/* Empty table */

.warningMessage {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.6);
}

.warningMessage__inner {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	text-align: center;
	width: 100%;
}


/* General table styles */

.table-container {
	position: relative;
}

.table {
	border-collapse: collapse;
	margin-bottom: 3em;
	width: 100%;
	background: #fff;
}

.table__cell {
	text-align: center;
}

/* header */

.table__head {
	border-bottom: 1px solid $border-grey;
	border-left: 1px solid $border-grey;
}

.table__cell--th {
	overflow: hidden;
	font-weight: bold;
	color: #fff;
	white-space: nowrap;
	text-align: center;
	font-size: 1.1rem;
	color: $dark-grey;
}

.table__cell--name {
	text-align: left;
	padding: 12px 32px;
	margin: 0;
	display: inline-block;
}

/* body */

.table__body {
	.table__row {
		border-top: 1px solid $border-grey;
		border-bottom: 1px solid $border-grey;
		&:first-child {
			border-top:none;
		}
		&:nth-child(odd) {
			background-color: $light-grey;
		}
		&:hover {
			background-color: $light-blue;
		}
	}
}

.table__cell--td {
	border-left: 1px solid $border-grey;
	&:last-child {
		border-right: 1px solid $border-grey;
	}
}

.table__cell--user-infos {
	padding: 12px 32px;
	text-align: left;
	margin: 0;
	display: inline-block;
}

.user-picture {
	display: inline-block;
	vertical-align: middle;
	img {
		display: block;
		border-radius: 48px;
		width: 48px;
		height: 48px;
	}
}

.user-infos {
	padding: 0 0 0 8px;
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	width: calc(100% - 56px);
	div {
		color:  $dark-grey;
		font-size: 1.25rem;
	}
}

.table__cell--checkbox {
	overflow: hidden;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: calc(100% + 10px);
		margin: 0;
		width: 100%;
		height: 100%;
		border-radius: 30%;
		background: rgba(106,223,108,0.3);
		z-index: 1;
		transform-origin: 100% 50%;
	}
	&.clicked:before {
		animation-name:anim-effect-scl, anim-effect-opct;
		animation-duration: 3s;
		animation-timing-function: cubic-bezier(0.15, 0.69, 0.74, 0.82);
		animation-fill-mode: forward;
	}
}

@keyframes anim-effect-opct {
	0%, 100% {
		opacity: 0;
		
	}
	40%, 70% {
		opacity: 1;
	}
}

@keyframes anim-effect-scl {
	0% {
		transform: scale3d(1, 1, 1);
	}
	100% {
		transform: scale3d(-2, 2, 1);
	}
}

.checkbox {
	position: relative;
	cursor: pointer;
	display: block;
	width: 17px;
	height: 17px;
	margin: 0 auto;
	&:focus {
		outline: 0;
	}
	&:before {
		content: "";
		transition: all 0.3s ease-in-out;
		position: absolute;
		left: 0;
		z-index: 1;
		width: 15px;
		height: 15px;
		border: 1px solid #B3C5D4;
	}
	&:after {
		content: "";
		position: absolute;
		left: 0;
		width: 17px;
		height: 17px;
		background: #FFF;
		cursor: pointer;
	}
	&:checked:before {
		transform: rotate(-45deg);
		height: 7px;
		border-color: #348A96;
		border-top-style: none;
		border-right-style: none;
	}
}
