@import "variables";
@import "fonts";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #e9edf5;
	font-family: 'Open Sans';
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem; /* to convert easily px => rem */
}

.main-container {
	margin: 0;
	padding: 5vh 5% 0 5%;
	width: 100%;
	height: 100vh;
}

@import "login";
@import "inapp";
@import "table";
@import "topbar";
@import "pagination";
