@import "bootstrap.min";
@import "bootstrap.no-icons.min";

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.main-container {
	margin: 0 auto;
	width: 90%;
	margin-top: 50px;
}

.confirmation-button {
	color: red;
	display: inline-block;
}

table {
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%;
    background: #fff;
}

td, th {
    padding: 0.75em 1.5em;   
}

th {
    background-color: #31bc86;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    text-align: center !important;
}

.userid {
	text-align: left !important;
}

tbody th {
    text-align: center;
	background-color: #2ea879;
}

tbody input {
	margin: 0 auto !important;
}

.table-container {
    position: relative;
}

.warningMessage {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

.warningMessage__inner {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

.pagination {
    margin: 0;
}