<!doctype html>
<html>
<head>
   <meta charset="utf-8">

   <title>Twitter list</title>
   <meta name="description" content="Hullo, world!">
   <meta name="viewport" content="width=device-width">
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
   <link href="//hullstrap.s3.amazonaws.com/stylesheets/hullstrap.css" media="screen" rel="stylesheet" type="text/css" />
   <link rel="stylesheet" type="text/css" href="css/styles.css">
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
   <script src="https://hull-js.s3.amazonaws.com/0.8.43/hull.js"></script>
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
   
</head>
<body>
   <div class="main-container" ng-app="twitterListApp">
      <div class="calmdown" ng-controller="TweetCtrl">
         <div ng-href='#here' ng-click='go()'>
            <button class="twitter-login">
               Login
            </button>
            <div>
               Hello {{ name }}
            </div>
         </div>
         <div class="tweets-container">
            <div ng-controller="TweetCtrl as tweetCtrl">
               <table>
                 <tr ng-repeat="tweet in tweetCtrl.tweets">
                     <td>{{tweet.text}}</td>
                 </tr>
               </table>
             </div>
         </div>
      </div>
   </div>
   <script type="text/javascript" src="js/myscripts.js"></script>
</body>
</html>