<div ng-show="logout">
   <div class="list-container">
      <table class="table table-striped table-hover">
         <!-- First row : All the list -->
         <tr>
            <td></td>
            <td ng-repeat="list in listOfLists">{{list.name}}</td>
         </tr>
         <!-- Folowings and their list -->
         <tr ng-repeat="cellule in matrix">
            <td>{{ cellule.name }}</td>
            <td ng-repeat="list in cellule.belongsToList">
               <input type="checkbox" class="checkbox" value="" name="check" ng-model="list.subscribed" ng-change="handleInputClick(list)">
            </td>
         </tr>
      </table>
      <button class="submitChanges" ng-click="handleValidation()">Valider</button>
      <button class="goNextPage">Next</button>
      <button class="twitter-logout" ng-show="logout">Logout</button>
   </div>
</div>