<div class="table-container">
	<table class="table" fixed-header>
		<thead class="table__head">
			<tr class="table__row">
				<th class="table__cell table__cell--th table__cell--name">Name</th>
				<th class="table__cell table__cell--th table__cell--list-name" ng-repeat="list in listOfLists">
					{{list.name}}
				</th>
			</tr>
		</thead>
		<tbody class="table__body">
			<tr class="table__row" ng-repeat="item in pagedItems[currentPage]" viewport-watch>
				<td class="table__cell table__cell--td table__cell--user-infos">
					<div class="user-picture">	
						<img src="{{item.profile_image_url}}">
					</div>
					<div class="user-infos">
						<p>
							{{item.name}}<br>
							@{{item.screen_name}}
						</p>
					</div>
				</td>
				<td class="table__cell table__cell--td table__cell--checkbox" ng-repeat="list in item.belongsToList">
				   <input type="checkbox" class="checkbox" value="" name="check" ng-model="list.subscribed" ng-change="handleInputClick(list)">
				</td>
			</tr>   
		</tbody>
	</table>
	<button class="submitChanges" ng-click="handleValidation()">Valider</button>
	<div ng-show="showConfirmationMsg" ng-init="showConfirmationMsg=false" class="confirmation-button">
		Changes done!
	</div>
</div>

