<div>
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>User ID</th>
                <th ng-repeat="list in listOfLists">{{list.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in pagedItems[currentPage]">
                <td>@{{item.screen_name}}</td>
                <td ng-repeat="list in item.belongsToList">
                   <input type="checkbox" class="checkbox" value="" name="check" ng-model="list.subscribed" ng-change="handleInputClick(list)">
                </td>
            </tr>   
        </tbody>
    </table>
    <button class="submitChanges" ng-click="handleValidation()">Valider</button>
    <div ng-show="showConfirmationMsg" ng-init="showConfirmationMsg=false" class="confirmation-button">
        Changes done!
    </div>
</div>

